.app {
    width: 312px;
    margin: 25px auto;
}

.board {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

.board div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hit{
    background-image: url('./dirt.png');
}

#treasure{
    background-image: url('./treasure.png')
}
